body {
  height: 100vh;
  width: 100vh;
}

.div-container {
  max-width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  grid-template: 200px / 1fr 0.5em 1fr;
  grid-template-areas: "img . button";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
  border-radius: 6px;
}

button {
  grid-area: button;
  border-radius: 6px;
  border: none;
  background: #fcecfd;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  font-weight: bolder;
  font-size: 30px;
  color: pink;
}

button:hover {
  background: #fbcaff;
  color: rgb(253, 155, 172);
  cursor: pointer;
}
